nav {
    display: flex;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 100px;
    height: auto;
}

.session {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.links {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.links a {
    width: 5em;
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

#logout {
    background-color: red;
    border-radius: 10px;
    padding: 5px;

}