nav {
    display: flex;
    background-color: #576574;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 100px;
    height: auto;
}

.session {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.links {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.links a {
    width: 5em;
    background-color: #640c0c;
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

#logout {
        background-color: red;
        border-radius: 10px;
        padding: 5px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin-left: 10px;
}