<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Service</title>
  <link rel="stylesheet" href="css/service.css">
  <link rel="stylesheet" href="css/nav.css">
</head>

<body>
<nav/>

<div class="service-container">
  <table class="vehicles">
    <thead>
      <tr>
        <th>Registration</th>
        <th>Model</th>
        <th>Customer Name</th>
        <th>Status</th>
        <th>Advisor</th>
      </tr>
    </thead>
    <tbody>
      <tr id="service-data" >
        <td id="vehicle-reg"><a id="vehicle-reg-href" href=""  >Registration</a></td>
        <td id="vehicle-model">Model</td>
        <td id="vehicle-customer">Customer Name</td>
        <td id="vehicle-status">Status</td>
        <td id="service-advisor">Advisor Name</td>
      </tr>
    </tbody>
  </table>
  <div class="edit-container">
    <form action="/services/new" method="post">
    <section class="buttons">
      <button type="submit">NEW</button>
      <button type="submit">EDIT</button>
    </section>
    <section class="data">
      <label for="registration">Registration</label>
      <input id="registration" name="registration" type="text">
      <label for="model">Model</label>
      <input id="model" type="text" name="model"/>
      <label for="customer">Customer Name</label>
      <input id="customer" name="customer" type="text">
      <label for="concerns">Customer Concerns</label>
      <textarea id="concerns" name="concerns"></textarea>
      <label for="workshop">Workshop Notes</label>
      <textarea id="workshop" name="workshop"></textarea>
      <label for="status">Status</label>
      <select name="status", id="status">
        <option th:each="message : ${statusMessageList}"
                th:value="${message}" th:text="${message}"
                th:selected="${message}==(${service} ? ${service.status} : 'QUEUE')"
        />
      </select>
    </section>
    </form>
  </div>
</div>


<script src="js/scripts.js"></script>
</body>
</html>