<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Service</title>
  <link rel="stylesheet" href="css/service.css">
  <link rel="stylesheet" href="css/nav.css">
</head>

<body>
<nav/>

<div class="service-container">
  <table class="vehicles">
    <tr>
      <th>Registration</th>
      <th>Model</th>
      <th>Customer Name</th>
      <th>Status</th>
      <th>Edit</th>
    </tr>
    <tr id="service-data" >
      <td id="vehicle-reg">Registration</td>
      <td id="vehicle-model">Model</td>
      <td id="vehicle-customer">Customer Name</td>
      <td id="vehicle-status">Status</td>
      <td id="vehicle-edit">
        <a id="vehicle-edit-button" href="/">Edit</a>
      </td>
    </tr>
  </table>
</div>

<script src="js/scripts.js"></script>
</body>
</html>